/*All Body*/
body{
	font-family: Arial,  Helvatica, sans-serif;
	background: linear-gradient(#2196F3, #FFC107);
	color: black;
	font-size: 16px;
	margin-top: 60px;

}

/*Text*/
h1, h3{
	margin: 15px;
	text-align: center;
	font-size: 30px;
}

h2{
	text-align: center;
	font-size: 30px;
	margin: 10px;
	color: white;
}

h4{
	text-align: center;
	color: black;
	margin: 1px;
	font-size: 15px;
	border: 2px solid black;
	background-color: white;
	width: 50%;

}

p{
	text-align: center;
	font-size: 25px;
	color: white;
}

a{
	text-align: center;
}
/*Text end*/

/*Buttons*/
/*Control to move*/
#Control{
	margin: 10px;
	width: 40%;
	height: 100px;
}

/*Controls of index*/
#Start{
	margin: 10px;
	width: 80%;
	height: 50px;
}

/*All photos button*/
#More{
	margin: 10px;
	width: 50%;
	height: 50px;
}
/*Buttons end*/

/*Photos*/
#PhotoTa{
	margin: 10px;
	width: 90%;
	height: 150px;
}

/*All images*/
img{
	margin: 5px;
}

/*Author Box*/
.imgRed{
	width:155px;
    height:155px;
    border-radius:160px;
    border:5px solid black;
    margin: 5px;
}
/*Photos end*/

/*Containers*/
/*Date container*/
#Date{
	margin: 10px;
	width: 80%;
	height: 30px;
}

/*Authors box*/
.panel-footer{
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}

/*Authors box title*/
.panel-footer div.row {
  margin-bottom: 35px;
}

/*Photos Author*/
#AuthorPhoto:hover {
	margin: 5px;
	box-shadow: 0 1px 5px 1px #cccccc;
	cursor: pointer;
}

/*Authors box hover*/
.nav-item:hover{
	box-shadow: 0 1px 5px 1px #48A0F8;
}

.row{
	 margin-right: 0px; 
	 margin-left: 0px;
}

/*Containers end*/

/*Copyright*/
#Copy{
	margin: 5px;
	color: white;
}

/*video box*/
@media (min-width: 1200px){
	#Video{
		width: 550px;
	}
	#carouselbox
	{
	margin: 5px;
	width: 98%;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	#Video{
		width: 450px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
		#Video{
		width: 350px;
	}
}
@media (min-width: 480px) and (max-width: 576px){
		#Video{
		width: 360px;
	}
}
@media (max-width: 479px){
	#Video{
		width: 340px;
	}
}
/*video box end*/

/*spiner*/
.container1{
	opacity: 0;
	transition: 1s;
}
#loadbox{
	height: 650px;
}
/*spiner end*/