/*All Body*/
body{
	font-family: Arial,  Helvatica, sans-serif;
	background: linear-gradient(#2196F3, #FFC107);
	color: black;
	font-size: 16px;

}

/*Text*/
h1{
	margin: 15px;
	text-align: center;
	font-size: 30px;
}

h3{
	margin: 15px;
	text-align: center;
	font-size: 25px;
}

h2{
	text-align: center;
	font-size: 25px;
	margin: 10px;
}

h4{
	text-align: center;
	color: black;
	margin: 1px;
	font-size: 15px;
	border: 2px solid black;
	background-color: white;
	width: 50%;

}
h5{
	margin: 5px;
	text-align: center;
	font-size: 20px;
}
h6{
	margin: 15px;
	text-align: center;
	font-size: 27px;
}
p{
	text-align: center;
	font-size: 25px;
	color: white;
}

a{
	text-align: center;
}
#Databox{
	margin: 5px;
	border: 2px solid black;
	text-align: center;
	font-size: 23px;
}
/*Text end*/

/*Buttons*/
/*Control to move*/
#TakePhoto, #Control, #StartCamara, #StopCamara{
	margin: 10px;
	width: 40%;
	height: 75px;
}

/*Controls of index*/
.Start{
	margin: 5px;
	width: 100%;
	height: 50px;
}

/*All photos button*/
#More{
	margin: 10px;
	width: 50%;
	height: 50px;
}
/*Buttons end*/

/*Photos*/
#PhotoTa{
	margin: 0;
	width: 100%;
	height: 100%;
}

/*All images*/
img{
	margin: 2px;
	width: 100%;
}

/*Author Box*/
.imgRed{
	width:155px;
    height:155px;
    border-radius:160px;
    border:5px solid black;
    margin: 5px;
}
/*Photos end*/

/*Containers*/
/*Authors box*/
.panel-footer{
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}

/*Authors box title*/
.panel-footer div.row {
  margin-bottom: 35px;
}

/*Photos Author*/
#Author{
	color:white;
}
#AuthorPhoto:hover {
	margin: 5px;
	box-shadow: 0 1px 5px 1px #cccccc;
	cursor: pointer;
	background-color: #2196F3;
}

/*Authors box hover*/
.nav-item:hover{
	box-shadow: 0 1px 5px 1px gray;
	background-color: white;
}

.row{
	 margin-right: 0px; 
	 margin-left: 0px;
}

#Video, #Video2{
	border: 5px solid black;
	background-color: gray;
}

#LookPhoto, #LookPhoto2{
	width: 460px;
}

#carouselbox{
	width: 680px;
}

#carouselbox2{
	width: 600px;
}
/*Containers end*/

/*Copyright*/
#Copy{
	margin: 5px;
	color: white;
}

/*video box*/
@media (min-width: 1200px){
	#Video{
		width: 350px;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	#Video{
		width: 490px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
		#Video{
		width: 370px;
	}
}
@media (min-width: 480px) and (max-width: 576px){
		#Video{
		width: 370px;
	}
}
@media (max-width: 479px){
	#Video{
		width: 350px;
	}
	#LookPhoto{
	width: 350px;
	}
}
/*video box end*/

/*spiner*/
.container1{
	opacity: 0;
	transition: 1s;
}
#loadbox{
	height: 650px;
}
/*spiner end*/

.flip-entry{
	height: 100px;
	margin: 0px;
}